# .env.example

# Environment Name
NODE_ENV=test

# Server listen to this port
PORT=3002

#Cors
CORS_URL=*

# Database 
DB_NAME=product_db_test
DB_HOST=mongo-product_test
DB_PORT=27018
DB_USER=user-product
DB_USER_PWD=user-product_test

# Admin of mongo db when using Docker
DB_ADMIN=admin
DB_ADMIN_PWD=admin

# Cookie session key
COOKIE_SESSION_NAME=product_cookie
COOKIE_SESSION_KEY=OGbRcjqKzq

# Log service
LOG_SERVICE_URL = http://logmicroservice:3001/
LOG_SERVICE_NAME = product_service

# api variable default
PAGING_LIMIT = 10